/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.anchor {
  padding-top: 50px; 
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
body {
  background-color: #fbfbfb;
  font-family: "Verdana", Arial, "Sans Serif";
  /* For Fixed Nav Bar */
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}
.footerBox {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* ----------------------------------------------- */
.navbar-default {
  background-color: #3671b7;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-toggle {
  border-color: #f5f5f5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5f5f5;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #97CC11;
}
.postPreviewBox {
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  
  padding: 10px;
}
.readMoreLink {
  font-size: 16px;  
}
.postMeta {
  
}
.postPreviewContent {
  
}

